<CascadingAuthenticationState>
    
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <div style="position: absolute;
                              left: 50%;
                              right: 50%;
                              top: 50%;
                              bottom: 50%;
                              transform: translate(-50%, -50%); width: 80vh;
                              text-align: center;
                              ">
                    <h2>You are not authorized to view this page!</h2>
                                    <p>You have to log in!</p>
                </div>
            </NotAuthorized>
                    </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p style="position: absolute; left: 50%; right: 50%; top: 50%; 
            bottom: 50%; transform: translate(-50%, -50%); width: 80vh;
            text-align: center; " role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
