@page "/RideDetails/{rideId:int}"
//not sure if ^ works

@using WebApp.Shared.Components.Ride
@using WebApp.Shared.Components.Buttons
@using HttpClients.ClientInterfaces
@using Ride = Domain.Models.Ride
@inject IRideService rideService

<div class="find-rides-page-wrapper">
    <div class="home-page-titles">
        <div class="primary-titles">
            <h1 class="title-primary">Are you sure</h1>
            <h1 class="title-primary">that you want to procced?</h1>
        </div>
        <h5 class="title-secondary">Please make sure that details of the ride work for you.</h5>
    </div>
    <div>
        <RideDetailed Time="@ride.StartDate.ToString()" Driver="@ride.Driver" RideId="@ride.Id" StartLocation="@ride.StartLocation.City" EndLocation="@ride.Destination.City"></RideDetailed>
    </div>
    <div class="outro-container">
        <h3>Everything all right?</h3>
        <div class="buttons-container">
            <TeritaryButton Text="Back to rides" hasArrow="true" arrowSide="Left"></TeritaryButton>
            <SecondaryButton Text="Proceed" hasArrow="true" arrowSide="Right"></SecondaryButton>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int RideId { get; set; }
    public Ride ride { get; set; }
    
    protected override async void OnParametersSet()
    {

        ride = await rideService.GetRideById(RideId);
    }
}